html, body {
    width: 100%; /* Use 100% instead of a fixed px to be responsive */
    height: 100%; /* Use 100% for height as well */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-family: 'Comic Neue', 'Source Sans Pro', sans-serif;
    overflow: hidden; /* Prevent scrolling beyond the viewport */
}

/*---------------------------------------------------------------------*/

#scenario-container {
    width: 1024px; /* Width of the window */
    height: 600px;/* Width of the window */
    background-image: url('../assets/background.png');
    flex-direction: column; 
    position: relative;
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 0px 50px lightgrey inset;
    border-radius: 20px; /*for soft corner for window*/
    
}

#scenario-image {
    max-width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 40px; /*for soft corner*/
    display: flex;
    margin:auto;
    filter: drop-shadow(2px 2px 8px grey); /*shadow behind image*/
}

#correct-answer-image, #correctAnswerPopup img {
    max-width: 70%; /* Full width */
    /*max-height: 20%; /* Full height */
    margin-top: 50px;
    border-radius: 20px; /* Rounded corners */
    filter: drop-shadow(4px 4px 10px grey); /* Shadow effect */
  }
  
  #correctAnswerPopup img {
    width: 100%; /* Width */
    margin-bottom: 20px; /* Bottom margin */
  }

/*---------------------------------------------------------------------*/

#inform {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.8);/* i want transparancyyy */
    display: flex;
    padding-top: 10px;
    justify-content: center; 
    text-align: center; 
    width: 100%; 
}

/*---------------------------------------------------------------------*/

#options {
    text-align: center; 
    margin: auto; 
    overflow: hidden;
}

#options .emotion-image {
    cursor: pointer;
    max-width: 70px; /* desired size */
    border-radius: 20px; /*for soft corner*/
    padding: 10px;
    padding-bottom: 10px;
    transition: transform 0.3s ease; /* Smooth transformation on hover not necessary  */
    margin:auto;
    filter: drop-shadow(0px 0px 10px lightgrey);

}

#options .emotion-image:hover {
    transform: scale(1.1); /* Slightly enlarge images on hover again un necessary  */
}

/*---------------------------------------------------------------------*/

h1 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.8); /* Adjust the opacity as needed */
    text-align: center; /* Center text horizontally */
    padding-top: 5px;
}

/*---------------------------------------------------------------------*/
/*same thing*/
#playButton {
    width: 80px; /* Adjust width as needed */
    margin: 10px; /* Spacing around the button */
    cursor: pointer; /* Change cursor to pointer on hover */
    position: absolute; /* Absolute positioning relative to the nearest positioned ancestor */
    top: 40%; /* Center vertically */
    right: 0; /* Align to the right */
    padding-right: 10px;
}


.popup {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto; 
    justify-content: center;
    align-items: center;
  }
  
  /*---------------------------------------------------------------------*/
  .Popup-content-Correct{
    width: 1024px; /* Width */
    height: 600px; /* Height */
    position: relative; 
    max-width: 90%; /* 90% height */
    max-height: 90%;/* 90% height */
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  

  